	table {top:0; border-spacing: 0; margin:0 0.8em; display: inline; }
	td{padding: 0; position: relative;}
	.txt{position: absolute; top:0; margin:0; font-size:0.9em;/*margin-top: -1em;*/}
	td/*:not(.m)*/{width: 0.5em;}
	.txtLeft{width: 1em;}
	.t,.t1,.t2,.t3,.t4{border-style: solid none none none; border-width: 0.1em;}
	.t1{border-color: black;}
	.t2{border-color: green;}
	.t3{border-color: black;}
	.t4{border-color: red;}
	.t{border-color: yellow;}
	.m,.s{border-width:0.1em; border-style: none none none solid; width: 0; padding: 0;}
	.m{border-color: red;}
	.s{border-color: silver;}
	.b{background-color: grey; width: 0.3em;}
	.n{background-color: black; outline: 0.05em solid silver; outline-offset: -0.05em; z-index: 1;}
	.b.n:after{
		content:"";
		display:block;
		position:absolute;
		top:0;
		left: -0.01em; 
		width:0.3em;
		height:100%;
		outline:0.05em solid silver; outline-offset: -0.05em;
		background:black;
		z-index: 1;
	}
	.output-popup {
		display: block;
		position: fixed;
		width: 100%; height: 100%;
		top: 0; left: 0;
		z-index: 10;
	}
	.output-popup>div {
		position: fixed;
		width: 80%; height: 80%;
		top: 10%; left: 10%;
		outline: 3px solid black;
		background-color: white;
		padding: 0.1em;
	}
	.output-popup>div>textarea, .output-popup>div>pre{
		width: calc(100% - 0.3em);
		height: calc(100% - 20px - 0.3em);
	}
	.output-popup>div>.x {
		position: relative;
  	box-sizing: content-box;
		float:right;
		background-color: red;
		padding: 0;
		width: 20px; 
		height: 20px;
		border: 3px solid white;
		outline: 1px solid black;
	}
	.output-popup>div>pre {
		overflow: scroll;
	}

	.x b {
  	border:solid 8px rgba(255,255,255,0);
  	position:absolute;
		width: 0;
		height: 0;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.x b:nth-child(1){
  	border-top-color:white;
  	bottom: unset;
	}
	.x b:nth-child(2){
		border-left-color:white;
  	right: unset;
	}
	.x b:nth-child(3){
		border-bottom-color:white;
  	top: unset;
	}
	.x b:nth-child(4){
		border-right-color:white;
  	left: unset;
	}